@{
    ViewData["Title"] = "My Webpage";
}

<div class="text-center">
    <h1 style="margin-top:100px">Padilla, Patrick M</h1>
    <p>BSIT32E3</p>
    <p>ELECTIVE 3 FULLSTACK WEB DEVELOPMENT – ADVANCED CASE STUDY </p>
</div>
