@{
    ViewData["Title"] = "School";
}

<div class="text-center">
    <h1>Face-To-Face Classes</h1>
    <table style=" margin-left: auto; margin-right: auto; border: solid 1px; border-radius: 20px;">
        <tr style="background-color: rgb(235, 204, 204); height:50px;">
            <td style="width: 300px;">Subject Code</td>
            <td style="width: 300px;">Subject Name</td>
            <td style="width: 300px;">Professor</td>
            <td style="width: 300px;">Day</td>
            <td style="width: 300px;">Time</td>
        </tr>
        <tr style="height:40px;">
            <td>FIL103</td>
            <td>PANITIKAN</td>
            <td>PROF ZAIDE</td>
            <td>MON</td>
            <td>3:00 - 4:00PM</td>
        </tr>
        <tr style="height:40px;">
            <td>IAS323</td>
            <td>INFORMATION ASSURANCE AND SECURITY 1</td>
            <td>PROF MALIG-ON</td>
            <td>TUES</td>
            <td>3:00 - 4:00PM</td>
        </tr>
        <tr style="height:40px;">
            <td>MS313</td>
            <td>QUANTITATIVE METHODS</td>
            <td>PROF DELADIA</td>
            <td>MON/TUES</td>
            <td>5:00 - 6:30PM</td>
        </tr>
        <tr style="height:40px;">
            <td>CAP323</td>
            <td>CAPSTONE 1</td>
            <td>PROF R ELLANA</td>
            <td>MON/TUES</td>
            <td>6:30 - 8:00PM</td>
        </tr>
        <tr style="height:40px;">
            <td>SIA323</td>
            <td>SYSTEM INTEGRATION AND ARCHITECTURE</td>
            <td>PROF BANAG</td>
            <td>MON/TUES</td>
            <td>8:00 - 9:30PM</td>
        </tr>
        <tr style="height:40px;">
            <td>ELEC323</td>
            <td>IT ELECTIVE 3(FULL STACK)</td>
            <td>PROF ALAMO</td>
            <td>SAT</td>
            <td>1:00 - 4:00PM</td>
        </tr>
    </table>
    <br /> <br />
    <h1>ASYNCHRONOUS</h1>
    <table style=" margin-left: auto; margin-right: auto; border: solid 1px; border-radius: 20px;">
        <tr style="background-color: rgb(235, 204, 204); height:50px;">
            <td style="width: 300px;">Subject Code</td>
            <td style="width: 300px;">Subject Name</td>
            <td style="width: 300px;">Professor</td>
            <td style="width: 300px;">Day</td>
            <td style="width: 300px;">Time</td>
        </tr>
        <tr style="height:40px;">
            <td>FIL103</td>
            <td>PANITIKAN</td>
            <td>PROF ZAIDE</td>
            <td>THU</td>
            <td>3:00 - 4:00PM</td>
        </tr>
        <tr style="height:40px;">
            <td>IAS323</td>
            <td>INFORMATION ASSURANCE AND SECURITY 1</td>
            <td>PROF MALIG-ON</td>
            <td>THU</td>
            <td>4:00 - 6:00PM</td>
        </tr>
        <tr style="height:40px;">
            <td>MS313</td>
            <td>QUANTITATIVE METHODS</td>
            <td>PROF DELADIA</td>
            <td>WED</td>
            <td>3:00 - 5:00PM</td>
        </tr>
        <tr style="height:40px;">
            <td>CAP323</td>
            <td>CAPSTONE 1</td>
            <td>PROF R ELLANA</td>
            <td>WED</td>
            <td>5:00 - 7:00PM</td>
        </tr>
        <tr style="height:40px;">
            <td>SIA323</td>
            <td>SYSTEM INTEGRATION AND ARCHITECTURE</td>
            <td>PROF BANAG</td>
            <td>THU</td>
            <td>7:00 - 9:00PM</td>
        </tr>
        <tr style="height:40px;">
            <td>ELEC323</td>
            <td>IT ELECTIVE 3(FULL STACK)</td>
            <td>PROF ALAMO</td>
            <td>THU</td>
            <td>5:00 - 7:00PM</td>
        </tr>
    </table><br /> <br />
    <h1>SYNCHRONOUS</h1>
    <table style=" margin-left: auto; margin-right: auto; border: solid 1px; border-radius: 20px;">
        <tr style="background-color: rgb(235, 204, 204); height:50px;">
            <td style="width: 300px;">Subject Code</td>
            <td style="width: 300px;">Subject Name</td>
            <td style="width: 300px;">Professor</td>
            <td style="width: 300px;">Day</td>
            <td style="width: 300px;">Time</td>
        </tr>
        <tr style="height:40px;">
            <td>FIL103</td>
            <td>PANITIKAN</td>
            <td>PROF ZAIDE</td>
            <td>THU</td>
            <td>2:00 - 3:00PM</td>
        </tr>
    </table>
</div>